body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.top{
    background-color: #1f2937;
    padding: 0 100px;
}
.logo{
    font-family: 'Tourney', cursive;
    font-size: 50px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
a,h3,p{
    text-decoration: none;
    color: #e5e7eb;
    margin: 0;
}
h2{
    margin: 0;
    color: white;
}
li{
    display: flex;
    align-content: center;
    margin: 0 16px;
    font-size: 18px;
}
ul.left-nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.left-nav{
    display: flex;
    align-items:center;
    justify-content:center;
}
.top-links{
    display: flex;
    align-content: center;
}
.intro{
    display: flex;
    padding: 60px 0; 
    margin: 0;   
    display: flex;
    justify-content: space-between;
}
.intro-title{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    color: #f9faf8;
}
.intro-text{
    width: 350px;
}